header {
    display: grid;
    grid-template-columns: 1fr 8fr;
    gap: 1.25rem; 
    justify-content: center;
    align-items: start;

    img {
        width: 50%;
        margin: 0 auto;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        text-align: center;

        li:not(:last-child) {
            border-left: 0.0625rem solid #ee87a9;
        }
    }
}